html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #23f7f1;
}

h2 {
    color: #1460AA;
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

.navigation {
    padding-left: 16px;
    padding-top: 16px;
}

.navigation__bar {
    background-color: #ffe4c4;
    padding: 16px;
}

.navigation__link {
    color: rgb(104, 0, 0);
    padding-right: 16px;
}

.main-page {
    max-width: 50vw;
    margin: 0vw 25vw;
}

.main-title__header {
    padding: 16px;
    color: blueviolet;
}

.main-title__description {
    padding-left: 16px;
}

.article {
    max-width: 800px;
    margin: 40px auto;
}

.article__description{
    font-style: italic;
}

.article__image {
    display: block;
    margin: auto;
}

.site-footer {
    background-color: #4394e6;
}

.rounded-image {
    border-radius: 30px;
}

.image-sizing {
    width: 100%;
}
