html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #23f7f1;
}

h2 {
    color: #1460AA;
    padding: 16px;
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

header {
    padding: 16px;
}

.navigation-bar {
    background-color: #ffe4c4;
}

.site-footer {
    background-color: #4394e6;
}

.article__description{
    font-style: italic;
    padding: 16px;
}

.main-title__header {
    color: blueviolet;
}

