html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #9dd2e3;
    background-image: -webkit-linear-gradient(0deg, #9dd2e3 22%, #1fabff 76%);
    background-image: -moz-linear-gradient(0deg, #9dd2e3 22%, #1fabff 76%);
    background-image: -o-linear-gradient(0deg, #9dd2e3 22%, #1fabff 76%);
    background-image: linear-gradient(0deg, #9dd2e3 22%, #1fabff 76%);
    
}

h2 {
    color: #1460AA;
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

.navigation {
    padding-left: 16px;
    padding-top: 16px;
}

.navigation__bar {
    background-color: #ffe4c4;
    padding: 16px;
    border-radius: 20px 0px 00px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation__link {
    color: rgb(104, 0, 0);
    padding-right: 16px;
}

.main-page {
    max-width: 700px;
    margin: 0px auto;
}

.main-title__header {
    padding: 16px;
    color: blueviolet;
    text-align: center;
}

.main-title__description {
    padding-left: 16px;
    text-align: center;
}

.subpage-header__title {
    margin: 0;
}

.article {
    max-width: 800px;
    margin: 20px auto;
}

.article__title {
    padding-bottom: 1rem;
    margin: 0;
}

.article__description{
    font-style: italic;
    line-height: 1.375rem;
}

.article__image {
    display: block;
    margin: auto;
    max-width: 300px;
}

.site-footer {
    background-color: #4394e6;
}

.rounded-image {
    border-radius: 30px;
}

.image-sizing {
    width: 600px;
}

.grid__frame {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 1rem 1rem;
    justify-content: center;
    justify-items: center
}

.grid__image {
   max-width: 300px;
   background-color: #FFFFFF;
}

@media screen and (min-width: 670px) {
    .grid__frame {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 1rem 1rem;
        justify-content: center;
        justify-items: center
    }

    .article__image {
        display: block;
        margin: auto;
        max-width: 450px;
    }
}

@media screen and (min-width: 1024px) {
    .grid__frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 1rem 1rem;
        justify-content: center;
        justify-items: center
    }

    .article__image {
        display: block;
        margin: auto;
        max-width: 600px;
    }
}
    