$desktop: 1024px;
$tablet: 768px;

@import "component/navigation.scss";
@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --textColor: #313131;
    --backgroundColor: #477eff;
    --backgroundColorGradient: #6e92e6;
    --barColor: #47ffce;

    @media (prefers-color-scheme: dark) {
        --textColor: #e7e7e7;
        --backgroundColor:#313131;
        --backgroundColorGradient: #2f7b85;
    }
}



html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--backgroundColor);
    background-image: -webkit-linear-gradient(0deg, var(--backgroundColor) 22%, var(--backgroundColorGradient) 76%);
    background-image: -moz-linear-gradient(0deg, var(--backgroundColor) 22%, var(--backgroundColorGradient) 76%);
    background-image: -o-linear-gradient(0deg, var(--backgroundColor) 22%, var(--backgroundColorGradient) 76%);
    background-image: linear-gradient(0deg, var(--backgroundColor) 22%, var(--backgroundColorGradient) 76%);
    font-family: 'Space Grotesk', 'Helvetica Neue', Arial, sans-serif;
    color: var(--textColor);
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

.bar {
    height: 6px;
    width: 100%;
    background-color: var(--barColor);
    border-radius: 5px;
}

.main-page {
    max-width: 700px;
    margin: 0px auto;

    &__header {
        padding: 20px 20px 0px 20px;
        text-align: center;
    }
}

.main-title {
    &__header {
        padding: 32px 16px 16px 16px;
        text-align: center;
        @media screen and (min-width: $tablet) {
            padding: 16px;
        }
        &::before {
            content: "🎮";
        }
    }

    &__description {
        padding-left: 16px;
        text-align: center;
    }
}

.subpage-header {
    &__title {
        margin: 0;
    }
    &__description {
        text-align: justify;
    }
}

.article {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;

    &__title {
        padding-bottom: 1rem;
        margin: 0;
    }

    &__description {
        font-style: italic;
        line-height: 1.375rem;
    }

    &__image {
        display: block;
        margin: auto;
        max-width: 280px;

        @media screen and (min-width: $tablet) {
            max-width: 450px; 
        }

        @media screen and (min-width: $desktop) {
            max-width: 600px;
        }
    }
}

.site-footer {
    background-color: var(--backgroundColor);
    border-top: 0.125rem solid #313131;
}

.rounded-image {
    border-radius: 30px;
}

.image-sizing {
    width: 600px;
}

.grid {
    &__frame {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: 1rem 1rem;
        justify-content: center;
        justify-items: center;

        @media screen and (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: $desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__image {
        max-width: 300px;
        background-color: #FFFFFF;
    }
}