$headerColor: #1460AA;
$desktop: 1024px;
$tablet: 768px;


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #9dd2e3;
    background-image: -webkit-linear-gradient(0deg, #9dd2e3 22%, #68f056 76%);
    background-image: -moz-linear-gradient(0deg, #9dd2e3 22%, #68f056 76%);
    background-image: -o-linear-gradient(0deg, #9dd2e3 22%, #68f056 76%);
    background-image: linear-gradient(0deg, #9dd2e3 22%, #68f056 76%); 
}

h2 {
    color: $headerColor
}

section {
    padding: 16px;
}

footer {
    padding: 16px;
}

.navigation {
    background-color: #ffe4c4;
    position: fixed;
    top: 0px;
    padding-right: 5px;
    min-height: 40px;
    width: 100%;
    border-radius: 0px 0px 0px 15px;
    display: flex;
    justify-content: flex-end; 

    &__menu-bar {
        width: 45px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    &__bar {
        background-color: #ffe4c4;
        padding: 16px;
        position: absolute;
        top: 40px;
        border-radius: 20px 0px 20px 20px;
        display: none;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    &__link {
        color: rgb(104, 0, 0);
    }

    &--open {
        display: flex;
    }

    @media screen and (min-width: $tablet) {
        position: static;
        top: 0px;
        min-height: 40px;
        width: 100%;
        display: block;
        justify-content: flex-end;

        &__menu-bar {
            display: none;
        }

        &__bar {
            border-radius: 20px 0px 0px 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            min-height: 57px;
            gap: 1rem;
            position: static;
        }
    }
        
    @media screen and (min-width: $desktop) {
        position: static;
        top: 0px;
        min-height: 57px;
        width: 100%;
    }
}

.bar {
    height: 6px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 5px;
}

.main-page {
    max-width: 700px;
    margin: 0px auto;

    &__header {
        padding: 20px 20px 0px 20px;
        color: blueviolet;
        text-align: center;
    }
}

.main-title {
    &__header {
        padding: 32px 16px 16px 16px;
        color: blueviolet;
        text-align: center;
        @media screen and (min-width: $tablet) {
            padding: 16px;
        }
        &::before {
            content: "🎮";
        }
    }

    &__description {
        padding-left: 16px;
        text-align: center;
    }
}

.subpage-header {
    &__title {
        margin: 0;
    }
}

.article {
    max-width: 800px;
    margin: 20px auto;

    &__title {
        color: $headerColor;
        padding-bottom: 1rem;
        margin: 0;
    }

    &__description {
        font-style: italic;
        line-height: 1.375rem;
    }

    &__image {
        display: block;
        margin: auto;
        max-width: 280px;

        @media screen and (min-width: $tablet) {
            max-width: 450px; 
        }

        @media screen and (min-width: $desktop) {
            max-width: 600px;
        }
    }
}

.site-footer {
    background-color: #4394e6;
}

.rounded-image {
    border-radius: 30px;
}

.image-sizing {
    width: 600px;
}

.grid {
    &__frame {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: 1rem 1rem;
        justify-content: center;
        justify-items: center;

        @media screen and (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: $desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__image {
        max-width: 300px;
        background-color: #FFFFFF;
    }
}